@font-face {
  font-family: "CabinetGrotesk Heading";
  font-style: normal;
  src: url("/fonts/CabinetGrotesk/CabinetGrotesk-Variable.ttf")
    format("truetype");
  font-weight: 100 900;
}
@font-face {
  font-family: "CabinetGrotesk Body";
  font-style: normal;
  src: url("/fonts/CabinetGrotesk/CabinetGrotesk-Variable.ttf")
    format("truetype");
  font-weight: 100 900;
}
